.btn-success {
    background-color: #22c55e;
    border: none;
}

.btn-success:hover {
    background-color: #16a34a;
}

.toast-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1080;
    min-width: 320px;
}

.admin-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
  z-index: 1000;
  white-space: nowrap;
}

.admin-link {
  color: #c00;
  font-weight: 600;
}

.admin-link:hover {
  text-decoration: underline;
}



/* Tamaño base del logo */
.brand-logo {
    height: 48px;    /* ajusta según lo que se vea bien */
    width: auto;
    object-fit: contain;
}

/* Ajustes para pantallas medianas (tablets) */
@media (max-width: 991.98px) {
    .brand-logo {
        height: 40px;
    }
}

/* Ajustes para celulares */
@media (max-width: 575.98px) {
    .brand-logo {
        height: 34px;
    }
}
